<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}My App{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

        <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>

    </head>

    <body>
        <script>
            (function () {
                var t = localStorage.getItem('theme') || 'dark';
                document.documentElement.setAttribute('data-theme', t);
            })();
        </script>
        <div id="page-shell">
            <div class="topnav"
                 hx-boost="true"
                 hx-target="#page-shell"
                 hx-select="#page-shell"
                 hx-swap="outerHTML show:window:top"
                 hx-push-url="true">
                <a href="{{ url_for('core.homepage') }}">Home</a>
                <a href="{{ url_for('scene.scene') }}" hx-boost="false">Scene</a>
                <div class="topnav-right-group">
                    <a href="{{ url_for('core.settings') }}">Settings</a>
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>